
@import url(https://fonts.google.com/specimen/Montserrat?query=monts);

* {
    font-family: "Montserrat";
}

.top {
    background-color: black;
    border: 3px solid blue;
    border-radius: 10px;
    color: blue;
    font-size: 1.2em;
}
.top-a-propos{
    background-color: black;
    border: 3px solid blue;
    border-radius: 10px;
    color: blue;
    font-size: 1.2em;
}
.bot {
    display: flex;
    background-color: rgba( 128, 128, 128, 0.5);
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 0px;
    justify-content: space-between;
    
}
body{
    background-image: url(images/rl1.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: whitesmoke;
    margin: 5;
}
p {
    color:#F9F8FF;
    font-size: 1.3em;
    font-weight: medium;
    text-align: justify;
}
.p1 {
    color:red;
    font-size: 1.3em;
    font-style: italic;
    font-weight: medium;
    text-align: justify;
}
.p2 {
    color:#F9F8FF;
    font-size: 1.3em;
    font-weight: large;
    text-align: justify;
}
.logo {
    width: 150px;
    height: 150px;
}
.up {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.logo_insta {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo_twitter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_bot{
    color: black;
}

.link {
    color: black;
    font-size: 1.4em;
    border-bottom: 3px solid white;
    border-radius: 10px;
    background-color: rgba(128,128,128,0.5);
    padding: 15px 20px;
    
}
.link1 {
    color: orangered;
    text-decoration: none;
    text-shadow: 10px 10px 15px black;
}
.link2 {
    color: whitesmoke;
}

li {
    color:whitesmoke;
    font-size: 1.1em;
    font-weight: medium;
    text-align: justify;
}
.obj_div{
    color: red;
    font-family: cursive;
    font-size: 1em;
    border: 3px solid red;
    border-radius: 10px;
    background-color: black;
}
.how{
    color: red;
    font-family: cursive;
    font-size: 1em;
    border: 3px solid red;
    border-radius: 10px;
    background-color: black;
}
.text{
    background-color: rgba( 128, 128, 128, 0.5);
}
/* .text_team{
    background-color: rgba( 128, 128, 128, 0.5);
} */
.team_link {
    color: whitesmoke;
}

.link_team{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linkEU {
    background-color: rgba( 128, 128, 128, 0.8);
    padding: 8px;
    border-radius: 5px;
    border: 2px solid black;
}
.linkUS{
    background-color: rgba( 128, 128, 128, 0.8);
    padding: 8px;
    border-radius: 5px;
    border: 2px solid black;
}

.linkAsia{
    background-color: rgba( 128, 128, 128, 0.8);
    padding: 8px;
    border-radius: 5px;
    border: 2px solid black;
}

